<header class="main-header">
  <h2 class="header-title">{{title ?? 'Maha'}}</h2>

  <button type="button" id="show-sidebar" class="reset-btn">
    <i class="material-icons">menu</i>
  </button>
</header>