<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Maha Biocosméticos</title>
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">

  @entryPointStyles('public_app')
  @entryPointScripts('public_app')
  @entryPointScripts('react_app')
</head>

<body>
  {{-- <audio id="music" autoplay loop preload="auto">
    <source src="/sounds/river.mp3" />
  </audio> --}}
  {{-- @include('partials/sidebar') --}}
  @include('public/partials/header')

  <main class="container">
    {{-- @include('partials/alerts') --}}
    @!section('content')
  </main>
</body>

</html>