<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Maha Biocosméticos</title>
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
  @entryPointStyles('public_app')
  @entryPointScripts('public_app')
</head>

<body>
  <main class="login-container">
    @include('partials/alerts')
    <div class="form-container">
      <h2 class="card-title">Fazer login</h2>
      <p>Não tem conta? <a href="{{route('/signup')}}">Inscreva-se</a></p>

      <form action="{{route('/signin', {}, { qs: request.qs() })}}" method="post">
        <div class="field">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" placeholder="email@email.com">
        </div>
        <div class="field">
          <label for="password">Senha</label>
          <input type="password" name="password" id="password" placeholder="Digite sua senha">
        </div>

        <button type="submit" class="primary-btn">Entrar</button>
      </form>
      <a href="{{route('/reset-password')}}">Esqueceu a senha?</a>
    </div>
  </main>
</body>

</html>