@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
  text-decoration: none;
}

:root {
  --background-color: #f9f7f5;
  --light-background-color: rgba(249, 247, 245, 0.5);
  --extra-dark-green: #0d0d0d;
  --light-green: #90a67b;
  --extra-light-green: rgba(144, 166, 123, 0.4);
  --medium-green: #317302;
  --green: #44732f;
  --dark-green: #0d2601;
  --extra-light-gray: rgba(0, 0, 0, 0.1);
  --light-gray: rgba(0, 0, 0, 0.6);
  --text-gray: rgba(0, 0, 0, 0.8);
  --error-color: #ab0e0e;
  --light-error: rgba(220, 187, 187, 0.747);
  --light-success: #c2cfc5c0;

  --sidebar-width: 200px;
  --box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

body {
  background-color: var(--background-color);
  width: 100%;
  height: 100vh;
}

/* CONST */
.text-light-gray {
  color: var(--light-gray);
}

.reset-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.material-icons-outlined.md-18 {
  font-size: 18px;
}

.material-icons-outlined.md-light-gray {
  color: var(--light-gray);
}

.material-icons-outlined.md-red {
  color: var(--error-color);
}

.primary-btn {
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: none;
  background-color: #0d2601;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  border-radius: 0.15rem;
  transition: all 0.5s;
  cursor: pointer;
  text-transform: uppercase;
}

.primary-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: #0d2601;
  color: #fff;
  width: max-content;
  font-weight: 500;
  font-size: 14px;
  border-radius: 0.15rem;
  transition: all 0.5s;
}

.primary-link:hover,
.primary-btn:hover {
  background-color: #90a67b;
}

.section-header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 1rem;
}

/* ALERTS */
.alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  max-width: 300px;
  padding: 0.5rem;
  border-radius: 0.3rem;
  position: absolute;
  right: 1rem;
  top: -100%;
  margin-top: 1rem;
}

.alert.error {
  background-color: var(--light-error);
  color: var(--error-color);
}

.alert.success {
  background-color: var(--light-success);
  color: var(--green);
}

.alert.show {
  animation: show-alert 1s ease forwards;
}

.alert.hide {
  animation: hide-alert 1s ease forwards;
}

.error-container {
  color: var(--error-color);
  margin: 0.5rem 0;
  font-weight: 500;
}

@keyframes show-alert {
  0% {
    top: -100%;
  }

  100% {
    top: 0;
  }
}

@keyframes hide-alert {
  0% {
    top: 0%;
  }

  100% {
    top: -100%;
  }
}

/* MAIN CONTAINER */
main.container {
  position: relative;
  margin: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* LOGIN */
main.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  position: relative;
}

.form-card,
.form-container {
  background-color: #fff;
  width: 100%;
  margin: 1.5rem;
  padding: 1.5rem;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  border-radius: 0.3rem;
  max-width: 400px;
}

form {
  display: flex;
  flex-direction: column;
}

h2.card-title {
  margin-bottom: 2rem;
  color: #0d2601;
}

label {
  color: #0d2601;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: 14px;
}

textarea,
input {
  background-color: var(--background-color);
  border: none;
  padding: 0.5rem;
  border-radius: 0.15rem;
  border: 1px solid transparent;
  transition: all 0.5s;
  color: #0d2601;
  font-size: 16px;
}

textarea,
input:focus {
  outline: none;
  border: 1px solid #90a67b;
}

/* MAIN HEADER */
.main-header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-bottom: 1px solid var(--extra-light-gray);
}

.header-title {
  color: var(--dark-green);
  font-weight: 500;
}

/* SIDEBAR */
.sidebar {
  height: 100vh;
  background-color: #fff;
  border-right: 1px solid var(--extra-light-gray);
  position: fixed;
  z-index: 3;
  width: var(--sidebar-width);
  left: -200px;
  transition: left 0.5s;
}

.sidebar-logo {
  padding: 0.5rem;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--extra-light-gray);
}

.sidebar-logo img {
  width: 30%;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 1rem;
  color: var(--light-gray);
  border-left: 3px solid transparent;

  transition: all 0.5s;
}

.nav-link:hover {
  color: var(--dark-green);
  font-weight: 500;
}

.nav-link.highlight {
  background-color: var(--extra-light-green);
  border-left: 3px solid var(--dark-green);
  color: var(--dark-green);
  font-weight: 600;
}

.sidebar-footer {
  border-top: 1px solid var(--extra-light-gray);
  width: var(--sidebar-width);
  position: fixed;
  bottom: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-overlay {
  background-color: var(--light-background-color);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: none;
}

.logout-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--light-gray);
  transition: all 0.5s;
}

.logout-btn:hover {
  color: #bb3e03;
}

/* FORMS */
.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

textarea {
  resize: none;
}

/* TABLE */
table {
  background-color: #fff;
  border-collapse: collapse;
  width: 100%;
  box-shadow: var(--box-shadow);
  border-radius: 0.3rem;
}

th,
td {
  padding: 1rem;
}

table thead th {
  text-align: left;
  text-transform: uppercase;
  color: var(--light-green);
  font-weight: 600;
  font-size: 14px;
  border-bottom: 1px solid var(--extra-light-gray);
}

.td-content {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.table-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.table-title {
  font-weight: 600;
  color: var(--text-gray);
}

.table-subtitle {
  color: var(--light-gray);
}

.action {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.table-content {
  display: flex;
  gap: 1rem;
}

.table-list {
  display: flex;
  flex-direction: column;
}

.link {
  display: flex;
  color: var(--dark-green);
  font-weight: 500;
}

.link:hover {
  color: var(--green);
}

.status-container {
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-weight: 600;
  text-transform: lowercase;
  width: max-content;
}

.status-container.pending {
  background-color: #faedcd;
  color: #e09f3e;
}

.status-container.confirmed {
  background-color: var(--extra-light-green);
  color: var(--medium-green);
}

.status-container.shipped {
  background-color: var(--extra-light-gray);
  color: var(--text-gray);
}

.status-container.cancelled {
  background-color: var(--light-error);
  color: var(--error-color);
}

.card-container {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  width: 100%;
  margin-bottom: 1rem;
}

.section-title {
  text-transform: uppercase;
  color: #90a67b;
  text-align: center;
  margin-bottom: 0.5rem;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.list-item {
  width: 100%;
  padding-top: 0.5rem;
}

.list-item + .list-item {
  border-top: 1px solid var(--light-green);
}

.list-container p {
  text-transform: capitalize;
}

.columns {
  width: 100%;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding-top: 0.5rem;
}

.item h4 {
  text-transform: uppercase;
  color: var(--light-gray);
}

.item p {
  text-transform: capitalize;
}

.item + .item {
  border-top: 1px solid var(--light-green);
}

.item-list {
  display: flex;
  gap: 0.5rem;
}

@media (max-width: 750px) {
  table {
    overflow: hidden;
  }

  thead {
    display: none;
  }

  table td + td {
    margin-top: 1rem;
  }

  th,
  td {
    padding: 0;
  }

  table td::before {
    content: attr(title);
    text-transform: uppercase;
    color: var(--light-green);
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: 14px;
  }

  table tr {
    background-color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  tr + tr {
    border-top: 1px solid var(--extra-light-gray);
  }

  table tr td {
    display: flex;
    flex-direction: column;
  }

  .td-content {
    display: flex;
    gap: 1rem;
    align-items: inherit;
  }
}

@media (min-width: 1200px) {
  button#close-sidebar,
  button#show-sidebar {
    display: none;
  }

  .main-header {
    margin-left: var(--sidebar-width);
  }

  main.container {
    margin-left: calc(var(--sidebar-width) + 1.5rem);
  }

  .sidebar {
    left: 0px;
  }

  .list-container {
    flex-direction: row;
    gap: 0.5rem;
  }

  .list-item {
    width: 100%;
    padding: 0.5rem;
  }

  .list-item + .list-item {
    border-left: 1px solid var(--light-green);
    border-top: none;
  }

  .columns {
    display: flex;
    gap: 1rem;
  }
}
