@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
  text-decoration: none;
}

:root {
  --background-color: #f9f7f5;
  --light-background-color: rgba(249, 247, 245, 0.5);
  --extra-dark-green: #0d0d0d;
  --light-green: #90a67b;
  --extra-light-green: rgba(144, 166, 123, 0.4);
  --medium-green: #317302;
  --green: #44732f;
  --dark-green: #0d2601;
  --extra-light-gray: rgba(0, 0, 0, 0.1);
  --light-gray: rgba(0, 0, 0, 0.6);
  --text-gray: rgba(0, 0, 0, 0.8);
  --error-color: #ab0e0e;
  --light-error: rgba(220, 187, 187, 0.747);
  --light-success: #c2cfc5c0;

  --sidebar-width: 200px;
  --box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

body {
  background-color: var(--background-color);
  width: 100%;
  height: 100vh;
}

main.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

header.main-header {
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem;
  gap: 5rem;
  border-bottom: 1px solid rgba(144, 166, 123, 0.4);
}

section.links {
  display: none;
}

.card-grid {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 0.7rem;
}

.card img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.card-title {
  text-transform: uppercase;
  font-weight: 100;
  color: #0d2601;
}
.card-p {
  text-align: center;
}

.price {
  color: #90a67b;
  font-weight: 200;
}

.page-title {
  text-align: center;
  padding-top: 1rem;
  font-weight: 500;
  color: #0d2601;
}

/* LANDING PAGE */
section#info {
  background-color: #90a67b;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--background-color);
}

.info-card p {
  text-align: center;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  border-radius: 50%;
  padding: 1rem;
  height: 52px;
  width: 52px;
}

.icon-img {
  width: 28px;
  height: 28px;
}

.btn {
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  border: none;
  font-weight: 600;
  font-size: 14px;
  border-radius: 0.15rem;
  transition: all 0.5s;
  cursor: pointer;
  text-transform: uppercase;
}

.secundary-btn {
  background-color: transparent;
  border: 1px solid #0d2601;
  color: #0d2601;
}

.primary-btn {
  background-color: #0d2601;
  color: #fff;
}

.primary-btn:hover {
  opacity: 0.6;
}

.secundary-btn:hover {
  background-color: var(--extra-light-green);
}

.page-description {
  margin: 1rem 0;
}

h2.page-title {
  margin-top: 1rem;
  color: #0d2601;
}

@media (min-width: 1200px) {
  section.links {
    display: flex;
    gap: 0.5rem;
  }

  /* section.links a {
    color: var(--dark-green);
  } */

  /* section.links a:hover {
    font-weight: 500;
  } */

  button.menu {
    display: none;
  }

  /* LANDING PAGE */
  section#info {
    flex-direction: row;
  }

  .info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: var(--background-color);
  }

  .info-card p {
    text-align: center;
  }

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    border-radius: 50%;
    padding: 1rem;
    height: 52px;
    width: 52px;
  }

  .icon-img {
    width: 28px;
    height: 28px;
  }
}
