@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
  text-decoration: none;
}

:root {
  --background-color: #f9f7f5;
  --light-background-color: rgba(249, 247, 245, 0.5);
  --extra-dark-green: #0d0d0d;
  --light-green: #90a67b;
  --extra-light-green: rgba(144, 166, 123, 0.4);
  --medium-green: #317302;
  --green: #44732f;
  --dark-green: #0d2601;
  --extra-light-gray: rgba(0, 0, 0, 0.1);
  --light-gray: rgba(0, 0, 0, 0.6);
  --text-gray: rgba(0, 0, 0, 0.8);
  --error-color: #ab0e0e;
  --light-error: rgba(220, 187, 187, 0.747);
  --light-success: #c2cfc5c0;

  --sidebar-width: 200px;
  --box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

body {
  /* background-color: var(--background-color); */
  width: 100%;
  height: 100vh;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

header.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem;
  gap: 5rem;
  border-bottom: 1px solid rgba(144, 166, 123, 0.4);
}

section.links {
  display: none;
}

@media (min-width: 1200px) {
  section.links {
    display: flex;
    gap: 0.5rem;
  }

  section.links a {
    color: var(--dark-green);
  }

  section.links a:hover {
    font-weight: 500;
  }

  button.menu {
    display: none;
  }
}
