@layout('layouts/main')

@section('content')
<section class="form-card">
  <h2 class="card-title">Editar kit</h2>
  <form action="{{route('KitsController.update', {id: kit.id})}}?_method=PUT" method="POST"
    enctype="multipart/form-data">
    @include('kits/fields')
    <button type="submit" class="primary-btn">Salvar</button>
  </form>
</section>
@endsection