@layout('layouts/main')

@section('content')
<section class="form-card">
  <h2 class="card-title">Editar produto</h2>
  <form action="{{route('ProductsController.update', {id: product.id})}}?_method=PUT" method="POST"
    enctype="multipart/form-data">
    @include('products/fields')

    <button type="submit" class="primary-btn">Salvar</button>
  </form>
</section>
@endsection