@layout('layouts/main')


@section('content')
<header class="section-header">
  <a href="{{route('ProductsController.create')}}" class="primary-link">
    <i class="material-icons-outlined md-18">add</i>
    Novo produto
  </a>
</header>
@endsection