<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Maha</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
  @entryPointStyles('app')
  @entryPointScripts('app')
  @entryPointScripts('react_app')
  @entryPointStyles('react_app')
</head>

<body>

  @include('partials/sidebar')
  @include('partials/header')

  <main class="container">
    @include('partials/alerts')
    @!section('content')
  </main>
</body>

</html>